/* Font e base */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color:#f4f4f4;
    line-height:1.6;
}

/* Header e menu */
header{
    background:#2c3e50;
    padding:20px;
    color:white;
}

header h2{
    margin:0;
    display:inline-block;
}

nav{
    display:inline-block;
    float:right;
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-weight:bold;
    transition: color 0.3s;
}

nav a:hover{
    color:#f39c12; /* colore accento */
}

/* Container centrale */
.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:40px;
    margin-top:30px;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

/* Titoli */
h1{
    color:#2c3e50;
}

h2 {
    color: #ffffff;
    opacity: 1;
    font-weight: 600;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}





.hero{
    background: linear-gradient(rgba(44,62,80,0.95), rgba(44,62,80,0.95)), url('../images/hero.jpg') no-repeat center center/cover;
    color:white;
    padding:100px 40px;
    text-align:center;
    border-radius:10px;
    margin-top:30px;
}

.hero h1, .hero h2, .hero p {
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
