<footer>

<div class="footer-container">

<div class="footer-col">

<h3>Empower Lab &emsp; <a href="https://www.instagram.com/empower_lab_psy/?__d=1" target="_blank" rel="noopener noreferrer" class="instagram-icon-media">
  <i class="fa-brands fa-instagram"></i> </h3>
  </a>
  <br>
<p>
Psicologia e Formazione.
</p>

</div>

  
<div class="footer-col">

<h3>Link utili</h3>
<br>
  
<p class="footer-links">
<a href="index.html">Home</a> -
<a href="chi-siamo.html">Chi siamo</a> -
<a href="servizi.html">Servizi</a> -
<a href="faq.html">FAQ</a> -
<a href="contatti.html">Contatti</a>

</p>

</div>

<div class="footer-col">
<h3>Contatti</h3>
<p>

<a href="https://wa.me/3465116313" target="_blank" rel="noopener noreferrer" class="whatsapp-icon">
  <i class="fa-brands fa-whatsapp"></i>
</a> &emsp; 3465116313<br>

📧 emailtemporanea@gmail.com<br>
Bari, Italia
</p>

</div>

</div>

<div class="footer-bottom">
<p>
© 2026 Empower Lab — Amodio & Caramia - Psicologia e Formazione
</p>

</div>

</footer>
